$font-family: 'Roboto', sans-serif;
$background-color: #f5f6fa;
$header-bg-color: #182C61;
$menu-font-weight: bold;
$menu-margin-left: 24px;
$menu-link-color: #fff;
$product-button-bg-color: #44bd32;
$product-button-hover-bg-color: #4cd137;
$container-max-width: 1024px;
$container-padding: 16px 0;
$grid-column-gap: 1%;
$grid-row-gap: 4%;
$grid-template-columns-desktop: repeat(3, 32.66%);
$grid-template-columns-tablet: repeat(2, 48.5%);
$grid-column-gap-tablet: 3%;
$media-max-width-tablet: 1023px;
$media-max-width-mobile: 767px;
